<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifoot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.ifoot.Activities.PlainLoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ifoot.Activities.HomeActivity" />
        <activity android:name="com.ifoot.Activities.MainActivity" />
        <activity android:name="com.ifoot.Activities.RegisterActivity" />
        <activity android:name="com.ifoot.Activities.MatchList" />
        <activity android:name="com.ifoot.Activities.MatchDetail" />
        <activity android:name="com.ifoot.Activities.MatchCreation" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCd--oUDZ1E5BmOMhT2dbLIMlAQmQ_WydY" />
    </application>
</manifest>